<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} - Microblog</title>
    {% else %}
        <title>Welcome to Microblog</title>
    {% endif %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>
    <div>Microblog: <a href="/index">Home</a></div>
        <hr>
        {% block content %}{% endblock %}
    <h1 class="text-center"> Douban Profile Movie </h1>

    <div class="col-lg-12">
        <style>
            .form-signin {
            max-width: 550px;
            padding: 15px;
            margin: 0 auto;
            }
        </style>


        <div class="container text-center">
            <form class="form-baseurl" id="baseurl_form" method="post"
                  action="">
                {{ form.hidden_tag() }}

                <br>
                <input id="input" type="text" name="baseurl"
                       class="form-control"
                       placeholder="Douban Unique Name, eg JiaU_Dong"
                       value="4476933"
                       required autofocus>
                <br>
                <button id="btn" class="btn btn-lg btn-primary btn-block"
                        type="button">Get Data</button>
            </form>
        </div>

        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% if mvlst %}
            <ul>
            {% for item in mvlst %}
                <li>{{ item }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div id="review-count-chart"></div>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
        <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/d3@5/dist/d3.js"></script>
    <script src="https://unpkg.com/crossfilter2@1.4/crossfilter.js"></script>
    <script src="https://unpkg.com/dc@3/dc.js"></script>
    <script src="https://rawgit.com/crossfilter/reductio/master/reductio.js"></script>
    <script src="https://npmcdn.com/universe@latest/universe.js"></script>
    <script src='./static/js/graph.js' type='text/javascript'></script>
</body>
</html>